<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    <div>
        <p><b>Year: {{ .AcaYear }}</b></p>
        
        {{ if .Spring.Term }}
            Term: {{ .Fall.Term }}<br/>
            Courses:
            <ul>
            {{range .Fall.Courses}}
                <li>{{ .Number }}. {{ .Name }} ({{ .Units }})</li>
            {{end}}
            </ul>
        {{end}}

        {{ if .Spring.Term }}
            Term: {{ .Fall.Term }}<br/>
            Courses:
            <ul>
            {{range .Spring.Courses}}
                <li>{{ .Number }}. {{ .Name }} ({{ .Units }})</li>
            {{end}}
            </ul>
        {{end}}

        {{ if .Summer.Term }}
            Term: {{ .Fall.Term }}<br/>
            Courses:
            <ul>
            {{range .Summer.Courses}}
                <li>{{ .Number }}. {{ .Name }} ({{ .Units }})</li>
            {{end}}
            </ul>
        {{end}}

    </div>
{{end}}

</body>
</html>